*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal{
    position:fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    display: none;
}

.modal_child{
    width: 35%;
    height: auto;
    background-color: #fff;
    padding: .9em;
    position: relative;
}

.view_modal{
    display: none;
    justify-content: center;
    align-items: center;
} 
.view_modal_child{
    height: auto;
}
.view_modal_wrapper{
    display: flex;
    justify-content: space-between;
}
.view_modal_img{
    width: 60%;
}
.product_desc{
    width: 39%;
}

.pro_img{
    width: 100%;
}
.pro_name{
    font-size: 1.5rem;
    text-align: center;
}

.product_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_desc p{
    display: block;
    padding: .7em 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    color: rgb(82, 59, 1);
}
.product_desc p span{
    color: rgb(88, 87, 87);
}

.fa-circle-xmark{
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 1.2em;
    color: red;
    cursor: pointer;
}
.fa-circle-xmark:hover{
    transform: scale(1.2);
}
.modal_child > h2{
    text-transform: uppercase;
    font-size: 1.4rem;
}

.entries{
    display: flex;
    row-gap: .5em;
    padding-top: 1.5em;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.entries>input:nth-child(1){
    width: 100%;
}
.entries>input:nth-child(4){
    width: 100%;
}
.entries>input{
    width: 49%;
}

.modal_child > button{
    position: absolute;
    bottom: 1em;
    text-transform: uppercase;
}

.filters{
    width: 100%;
    padding: 40px 50px;
    box-shadow: 0 0 2px gray;
}

input,select{
    width: 18%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    text-indent: 10px;
    font-size: medium;
}

button{
    font-size: .9rem;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 5px;
}

.data_table{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    padding: 0px 20px;
    font-family: Segoe UI;
    
}

.add_items{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
}

table{
    width: 100%;
    box-shadow: 0 0 10px black;
    position: relative;
}
thead{
    background-color: aquamarine;
}
table, th, td{
    border-collapse: collapse;
}

th{
    font-size: 1.1rem;
    padding: .35em .75em;
    font-weight: 500;
    border: 1.2px solid white;
}
td{
    font-family: .8rem;
    padding: .35em .75em;
    text-transform: capitalize;
    border: 1.2px solid white;
}
tr{
    text-align: center;
    border: none;
}

tbody>tr:nth-child(odd){
    background-color: #abc4ab;
}

#slNo{
    padding: 0 8px;
}

.message{
    text-align: center;
    padding: .5em 0;
    font-family: Segoe UI;
    font-size: 1.4rem;
    display: none;
    color: rgb(104, 56, 56);
}

.table_img{
    width: 10%;
    padding: .5em 0;
}

.action_icon{
    margin-left: 1em;
}
.action_icon:nth-child(1){
    color: green;
}
.action_icon:nth-child(2){
    color: blue;
}
.action_icon:nth-child(3){
    color: red;
}

.action_icon:hover{
    cursor: pointer;
}

.delete_modal{
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.delete_modal_child{
    width: 18%;
}
.delete_modal_child p{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.delete_buttons{
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagination{
    width: 100%;
    height: 4em;
    /* background-color: orangered; */
    display: flex;
    justify-content: space-between;
}
.pagination_buttons{
    width: 50%;
    height: 100%;
    /* background: gray; */
    display: flex;
    align-items: center;
    column-gap: 1em;
   
}
.pagination_button{
    height: 50%;
    /* width: 17%; */
    margin: 0;
    /* padding: 0; */
}
.pagination_desc{
    width: 15%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumptopage{
    width: auto;
}